#pricing {
    padding: 7% 15%;
    text-align: center;
}
.pricing-header {
    color: #000;
}
.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position:static;
        transform: rotate(0);
    }